.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative; /* Added for absolute positioning of text-container in responsive */
}

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay for desktop */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Stack elements vertically */
    height: auto; /* Adjust height based on content */
  }

  .hero-image-container {
    position: relative; /* Image container should not be absolute in mobile */
    height: auto; /* Changed from 50vh to auto */
  }

  .hero-background-image {
    object-fit: contain; /* Changed from cover to contain */
    height: 100%;
    width: 100%;
  }

  .hero-text-container {
    background-color: white; /* White background for text in mobile */
    color: #333; /* Darker text color for contrast */
    padding: 20px;
    box-sizing: border-box;
    height: auto;
  }

  .hero-title {
    font-size: 2em; /* Adjust font size for mobile */
  }
}


.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-buttons .btn {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.hero-buttons .btn-primary {
  background-color: #007b7f;
  color: white;
}

.hero-buttons .btn-secondary {
  background-color: #6c757d;
  color: white;
}
